.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-link {
  text-decoration: underline;
  color: blue;
}

.art-content {
  width: 70vw;
  background-color: aliceblue;
  padding: 15px;
}

.details-img {
  height: 50vh;
  width: auto;
  margin-top: 10px;
}